.arrow-left-container {
  display: flex;
  justify-content: flex-end;
  width: 1239px;
  height: 300px;
  //position: absolute;
  //top: 1517px;
  //left: 16%;
  margin-top: -10px;
  margin-left: 13%;
}