.icons-animate {

  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 0px #00000026;

  }
}

.talk-btn {
  width: 213px;
  height: 68px;
  position: relative;
  top: 20px;
  left: 20px;
  border: 4px black solid;
  gap: 10px;
  padding: 20px, 60px, 20px, 60px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.aboutme-data-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}


// section {
//   margin-top: -13%;
//   margin-left: auto;
//   margin-right: auto;
// }

/* MEDIA */

@media screen and (max-width: 1000px) {
  .aboutme-data {
    margin-top: 5%;
    margin-left: -36%;
    width: 370px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .talk-btn {
    left: 95px;
  }
  .aboutme-data-container {
    margin-left: 0%;
  }
  .aboutme-data {
    margin-top: 25%;
    margin-left: -116%;
  }
}

@media screen and (max-width: 750px) {
  .aboutme-data {
    margin-left: -107%;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 71%;
    font-size: 68px;
  }
  p {
    width: 470px;
    margin-left: 22%;
  }
  .aboutme-data-container {
    margin-left: 35%;
    width: 100%;
  }
  .aboutme-data {
    margin-left: -72%;
  }
  .talk-btn {
    left: 59%;
  }
  .icons-set {
    margin-left: 0%;
    margin-right: -8%;
  }
  .icon-txt {
    margin-left: 11%;
  }
}

@media screen and (max-width: 550px) {
  h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70%;
  }
  .aboutme-data {
    scale: 0.9;
    margin-left: -43%;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    margin-left: -8%;
    text-align: center;
  }
  p {
    margin-left: -18%;
  }
  .icons-set {
    margin-right: -3%;
  }
  .icons-animate {
    margin-right: -2%;
  }
  .icon-txt {
    margin-left: -17.5%;
    padding-left: 20%;
  }
  .talk-btn {
    left: 10%;
  }
  .aboutme-data {
    margin-left: -7%;
    margin-top: 95%;
    scale: 0.8;
  }
  .aboutme-data-container {
    margin-left: -2%;
  }
  
}

@media screen and (width: 414px) {
  p {
    margin-left: -1%;
    width: 380px;
  }
  .aboutme-data {
    margin-top: 155%;
    margin-left: -65px;
    scale: 0.9;
  }
  .talk-btn {
    left: 20%;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    margin-left: -1%;
  }
  p {
    font-size: 21px;
    margin-left: -1%;
    width: 382px;
  }
  .aboutme-data {
    margin-top: 125%;
    scale: 0.8;
    margin-left: -9%;
  }
  .aboutme-data-container {
    margin-left: 1%;
  }
  .talk-btn {
    left: 23%;
  }
}

@media screen and (width: 375px) {
  p {
    font-size: 21px;
    width: 362px;
    margin-left: 3%;
  }
  .aboutme-data-container img {
    display: none;
  }  
  .aboutme-data {
    margin-top: 130%;
    margin-left: -10%;
    scale: 0.9;
  }

}

@media screen and (width: 333px) {
  h2 {
    margin-left: 10%;
  }
  p {
    margin-left: 12%;
    width: 322px;
  }
  .aboutme-data-container img {
    display: none;
  }
  .icon-txt {
    margin-left: -9.5%;
  }
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 31px;
    margin-left: -156%;
    margin-top: 10%;
    text-align: center;
  }
  p {
    width: 290px;
    margin-left: -69%;
  }
  .talk-btn {
    left: -56%;
  }
  .icons-animate {
    margin-right: -7%;
  }
  .icon-txt {
    margin-left: -89%;
  }
  .aboutme-data {
    margin-left: 51%;
  }
  .aboutme-data-container img {
    display: none;
  }
}