<section class="aboutme-data">
  <h2>About Me</h2>
  <p>
    I am a Front-end deverloper from Munich, Germany. I help<br/> 
    designers and companies to bring  their ideas to real life.<br/>
    Creativity and logical thinking are skills that I have developed<br/>
    to connect ideas into quality products.
  <br/>
  </p>
  <br/>

  <p>
    If you think I'd be a good match for your project, contact me!
  </p>
  <br/>
  <br/>
  <div>
    <img class="icons-animate" src="../../../assets/icons/house.png" alt="">
    <p>Based in Afrika - *unga-bunga!</p>
  </div>
  <br/>

  <div>
    <img class="icons-animate" src="../../../assets/icons/laptop.png" alt="">
    <p>Open to work Remote - duh!</p>
  </div>
</section>
