<section class="aboutme-data">
  <h2 class="fontSyne">{{ 'ABOUTME' | translate }}</h2>
  <br/>
  <p class="fontOverpassNormal">
    {{ 'ABOUTME_PARAGRAPH' | translate }}   
  </p>
  <br/>
  <br/>
  <p class="fontOverpassNormal">
    {{ 'ABOUTME_CONTACT_TXT' | translate }}
  </p>
  <br/>
  <br/>
  <div class="aboutme-data-container">
    <img class="icons-animate" src="./assets/icons/house.png" alt="">
    <p class="icon-txt fontOverpassNormal">
      {{ 'ABOUTME_CITY' | translate }}
    </p>
    <!-- <p>Based in Afrika - *unga-bunga!</p> -->
  </div>
  <br/>
  <div class="aboutme-data-container">
    <img class="icons-set icons-animate" src="./assets/icons/laptop.png" alt="">
    <p class="fontOverpassNormal">
      {{ 'ABOUTME_WORK' | translate }}
    </p>
    <!-- <p>Open to work Remote - duh!</p> -->
  </div>
  <div>
    <a href="#contact">
      <button class="talk-btn fontOverpassNormal">{{ 'ABOUTME_LETS_TALK_BTN' | translate }}</button>
    </a>
  </div>
</section>
