.arrow-right-container {
  display: flex;
  justify-content: flex-start;
  width: 1239px;
  height: 300px;
  // position: absolute;
  // top: 2900px;
  // left: 22%;
  margin-left: 17%;
  margin-top: -20px;
}

/* MEDIA */

@media screen and (width: 4000px) {
  .arrow-right-container {
    margin-left: 31%;
    margin-top: 310px;  
    scale: 1.4;
  }
}

@media screen and (width: 1792px) {
  .arrow-right-container {
    margin-left: 14%;
    margin-top: 24px;
  }
}

@media screen and (width: 1405px) {
  
}

@media screen and (max-width: 1250px) {
  .arrow-right-container {
    margin-left: 11%;
    margin-top: 29px;
  }  
}

@media screen and (max-width: 1200px) {
  .arrow-right-container {
    margin-left: 14%;
    height: auto;
    width: max-content;
    margin-top: 1%;
  }
}

@media screen and (max-width: 1150px) {
  .arrow-right-container {
    margin-left: 15%;
  }
}

@media screen and (max-width: 1100px) {
  .arrow-right-container {
    margin-left: 14%;
  }
}

@media screen and (max-width: 1000px) {
  .arrow-right-container {
    margin-top: 1%;
    margin-left: 8%;
  }  
}

@media screen and (max-width: 950px) {
  .arrow-right-container {
    margin-left: 9%;
  }
}

@media screen and (max-width: 800px) {
  .arrow-right-container {
    margin-left: 5%;
  }
}

@media screen and (max-width: 700px) {
  .arrow-right-container {
    margin-top: 0%;
  }
}

@media screen and (max-width: 650px) {
  .arrow-right-container {
    margin-top: 0%;
  }
}

@media screen and (max-width: 600px) {
  .arrow-right-container {
    margin-top: -2%;
    margin-left: 4%;
  }
}

@media screen and (max-width: 500px) {
  .arrow-right-container {
    margin-left: -2%;
  }
}

@media screen and (max-width: 475px) {
  .arrow-right-container {
    margin-left: -4%;
  }
}

@media screen and (max-width: 414px) {
  .arrow-right-container {
    margin-left: -5%;
  }
}

@media screen and (max-width: 400px) {
  .arrow-right-container {
    margin-left: -4%;
  }
}

@media screen and (max-width: 375px) {
  .arrow-right-container {
    margin-left: -5%;
  }
}

@media screen and (max-width: 333px) {
  .arrow-right-container {
    margin-left: -7%;
  }
}

@media screen and (max-width: 320px) {
  .arrow-right-container {
    margin-top: -4%;
    margin-left: -8%;
  }
}