.arrow-right-container {
  display: flex;
  justify-content: flex-start;
  width: 1239px;
  height: 300px;
  // position: absolute;
  // top: 2900px;
  // left: 22%;
  margin-left: 17%;
  margin-top: -20px;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  .arrow-right-container {
    margin-left: 1%;
    height: auto;
    width: max-content;
    margin-top: 1%;
  }
}

@media screen and (max-width: 1000px) {
  .arrow-right-container {
    margin-top: -1%;
    margin-left: -2%;
  }  
}

@media screen and (max-width: 800px) {
  .arrow-right-container {
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .arrow-right-container {
    margin-top: -2%;
    margin-left: -3%;
  }
}

@media screen and (max-width: 320px) {
  .arrow-right-container {
    margin-top: -4%;
    margin-left: -8%;
  }
}