// .aboutme-img-container {
//   position: relative;
//   transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
//   &:hover {
//     width: 533px;
//     height: 533px;
//     // box-shadow: 5px 5px 15px 0px #00000026;
//   }
//   &:hover::after {
//     content: '';
//     position: absolute;
//     top: -124px;
//     right: -14px;
//     bottom: 191px;
//     left: 4%;
//     border: 4px solid black;
//   }
// }

.aboutme-img-container {
  position: relative;
  transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
  width: 580px;
  height: 580px;
  margin-top: -9%;
}

.aboutme-img {
  width: 533px;
  height: 750px;
  margin-top: -9%;
  transform: translateZ(0);
  &:hover {
    content:'';
    box-shadow: 5px 5px 15px 0px #00000026;
    border: black 4px solid;
  }
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  .aboutme-img {
    scale: 0.9;
    margin-left: -9%;
    margin-top: -27%;
    transform: translateZ(0);
  }
}

@media screen and (max-width: 1150px) {
  .aboutme-img {
    width: 533px;
    height: 750px;
    margin-top: -27%;
    transform: translateZ(0);
    scale: 0.9;
    margin-left: -17%;
  }
}

@media screen and (max-width: 1050px) {
  .aboutme-img {
    margin-top: -23%;
  }
}

@media screen and (max-width: 1000px) {
  .aboutme-img-container img {
    width: 370px;
    height: auto;
    margin-top: 14%;
    margin-left: -28%;
  }

  .aboutme-img-container:hover::after {
    top: 66px;
    right: 354px;
    bottom: 115px;
    left: -34%;
  }
}

@media screen and (max-width: 800px) {
  .aboutme-img {
    margin-top: -39%;
    margin-left: 2%;
  }
  .aboutme-img-container img {
    margin-top: -31%;
    margin-left: -5%;
  }
 
}

@media screen and (max-width: 700px) {
 
}

@media screen and (max-width: 650px) {
  .aboutme-img-container img {
    margin-top: -48%;
  }
}

@media screen and (max-width: 600px) {
  .aboutme-img {
    margin-left: -11%;
  }
  .aboutme-img-container img {
    margin-top: 65%;
    margin-left: -31%;
    scale: 1.2;
  }
  .aboutme-img-container:hover::after{
    top: -184px;
    right: 76px;
    left: -5%;
  }
}

@media screen and (max-width: 550px) {
  .aboutme-img-container img {
    margin-left: -15%;
    margin-top: 53%;
    scale: 1.1;
  }
}

@media screen and (max-width: 500px) {
  .aboutme-img-container img {
    width: 380px;
    height: auto;
    margin-left: -14%;
    margin-top: -56%;
  }
  .aboutme-img-container:hover::after {
    pointer-events: none;
    // top: -288px;
    // right: 261px;
    // left: -19%;
    // bottom: 76%;
    display: none;
  }
  .aboutme-img-container:hover {
    pointer-events: none;
  }
}

@media screen and (max-width: 475px) {
  .aboutme-img-container img {
    margin-left: -25%;
    margin-top: -41%;
  }
}

@media screen and (width: 414px) {
  .aboutme-img-container img {
    width: 310px;
    margin-left: -3%;
  }
}

@media screen and (max-width: 400px) {
  .aboutme-img-container img {
    width: 280px;
    height: auto;
    margin-left: 1%;
    margin-top: -56%;
  }

}

@media screen and (width: 375px) {
  .aboutme-img-container img {
    margin-left: 2%;
    width: 290px;
  }
}

@media screen and (width: 333px) {
  .aboutme-img-container img {
    width: 290px;
    margin-left: 0%;
    margin-top: -50%;
  }
}

@media screen and (max-width: 320px) {
  .aboutme-img-container {
    margin-left: -40%;
    width: 380px;
    margin-top: -43%;
  }
  .aboutme-img-container img {
    width: 280px;
    margin-left: 16%;
  }
}