// .aboutme-img-container {
//   position: relative;
//   transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
//   &:hover {
//     width: 533px;
//     height: 533px;
//     // box-shadow: 5px 5px 15px 0px #00000026;
//   }
//   &:hover::after {
//     content: '';
//     position: absolute;
//     top: -124px;
//     right: -14px;
//     bottom: 191px;
//     left: 4%;
//     border: 4px solid black;
//   }
// }

.aboutme-img-container {
  position: relative;
  transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
  width: 580px;
  height: 580px;
  margin-top: -30%;
}

.aboutme-img {
  width: 533px;
  height: 750px;
  margin-top: -9%;
  transform: translateZ(0);
  &:hover {
    content:'';
    box-shadow: 5px 5px 15px 0px #00000026;
    border: black 4px solid;
  }
}