@import '../../../styles.scss';

.header-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  padding-left: 6%;
  padding-top: 28px;
  gap: 86%;
  >img {
    cursor: pointer;
  }
}

.header-static {
  position: fixed;
  top: 0;
  z-index: 7;
  overflow: hidden;
}

.header-img {
  height: auto;
  width: 86px;
}

.burger-btn {
  position: relative;
  // left: 620px;
  // left: 44em;
  left: 6%;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fffcf3;
  height: 8%;
  /* align-content: center; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header-language {
  display: flex;
  gap: 16px;
  margin-left: -14%;
}

.header-language-img {
    cursor: pointer;
    display: flex;
    gap: 8px;
    margin-right: 32px;
    &:hover {
      transform: scale(1.1);
    }
}

.language-img {
  border-radius: 38px;
}


.burger-btn-img {
  width: 40px;
  height: 36px;
  background-image: url('./../../../assets/icons/header-burger.png');
  background-size: cover;
  cursor: pointer;
}

.burger-btn-animate {
  animation: icon-animate 1s forwards;
  z-index: 2;

  background-size: cover;
}


@keyframes icon-animate {
  0% {                                 
    background-image: url('./../../../assets/icons/overlay/ol-variant-1.webp');
  }

  15% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-2.webp');
  }

  35% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-3.webp');
  }

  50% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-4.webp');
  }

  65% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-5.webp');
  }

  80% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-6.webp');
  }

  100% {
    background-image: url('./../../../assets/icons/overlay/ol-variant-4.webp');
  }

}
