<section class="header-container">
  <div class="header-icons">
    <a href="">
      <img class="header-img" src="./assets/icons/jk_logo.png">
    </a>

    <div class="header-language">
      <div class="header-language-img" name="" id="">
        <img class="language-img" src="./assets/icons/de.png" alt="deutsch - german" (click)="changeLanguage('de')">
      </div>
      <div class="header-language-img" name="" id="">
        <img class="language-img" src="./assets/icons/en.png" alt="englisch" (click)="changeLanguage('en')">
      </div>
      <div  (click)="openOverlay()" [ngClass]="{'burger-btn-animate': menuVisible}" class="burger-btn-img" [class.burger-btn]="menuVisible"></div>
    </div>

    <app-ol-burger-menu *ngIf="menuVisible"/>

  </div>
</section>
