@media screen and (width: 4000px) {
  .ol-main-section {
    top: 134px !important;
  }
}

@media screen and (width: 3760px) {
  .ol-main-section {
    top: 114px !important;
  }
}

@media screen and (max-width: 1200px) {

  .ol-main-section {
    left: 9%;
  }
}

@media screen and (max-width: 1000px) {

  .ol-link-row a {
    font-size: 68px;
  }
}

@media screen and (max-width: 900px) {
  .ol-main-section {
    width: 110% !important;
  }
}

@media screen and (max-width: 800px) {

  .ol-main-section {
    left: 3%;
  }
  .ol-link-row {
    margin-left: 2%;
    >a {
      font-size: 60px;
    }
  }
 
}

@media screen and (width: 700px) {
  .ol-link-row {
    margin-left: 6%;
  }
  .ol-main-section {
    left: -64px !important;
    width: 110% !important;
  }
}

@media screen and (width: 657px) {
  .ol-link-row {
    margin-left: 13%;
  }
  .ol-main-section {
    left: -14px;
  }
}

@media screen and (min-width: 601px)and (max-width: 656px)  {
  .ol-main-section {
    width: 120%;
    left: 0px !important;
  }
  .ol-link-row {
    margin-left: 6%;
    >a {
      font-size: 53px;
    }
  }
}

@media screen and (max-width: 600px) {

  .ol-link-container {
    width: 460px;
    margin-top: 14%;
    margin-left: -14%;
  }
  .ol-link-row {
    font-size: 48px;
    margin-left: 15%;
  }
}

@media screen and (width: 567px) {
  .ol-link-row {
    margin-left: 22%;
  }
}

@media screen and (min-width: 501px)and (max-width: 566px) {
  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 22%;
    >a {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 500px) {

  .ol-main-section {
    top: 125px !important;
  }
}

@media screen and (min-width: 415px)and (max-width: 499px) {
  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 22%;
    >a {
      font-size: 36px;
    }
  }
}

@media screen and (width: 414px) {

  .ol-main-section {
    left: 0px !important;
    padding-left: 96px;
  }
  .ol-link-row {
    margin-left: 10%;
    >a {
    font-size: 32px !important;
    }
  }
  .ol-link-container {
    padding-left: 0%;
  }
}

@media screen and (min-width: 402px)and (max-width: 413px) {
  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 22%;
    >a {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 400px) {

  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    width: 79%;
    margin-left: 25%;
    line-height: 1px;
    >a {
      font-size: 34px;
    }
  }
  .ol-start-angle {
    margin-top: -16%;
  }
  
}

@media screen and (min-width: 376px)and (max-width: 399px) {

  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 25%;
    >a {
      font-size: 31px;
    }
  }
}

@media screen and (width: 375px) {
  .ol-main-section {
    width:unset !important;
    left: 25px;
  }  
  .ol-link-row {
    margin-left: 18%;
    >a {
    font-size: 31px;
  } }
}

@media screen and (min-width: 342px) and (max-width: 374px) {
  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 29%;
    >a {
      font-size: 27px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 341px) {
  .ol-main-section {
    left: 0% !important;
  }
  .ol-link-row {
    margin-left: 36%;
  }
  .ol-link-row a {
    font-size: 23px;
  }
}

@media screen and (max-width: 320px) {

  .ol-link-row {
    margin-left: 29%;
    width: 49% !important;
    >a {
      font-size: 27px;
    }
  }
  .ol-main-section {
    left: -4px !important;
  }
  .ol-start-angle {
    margin-top: -19% !important;
  }

}