@media screen and (width: 700px) {
  .portfolio-img {
    width: 295px;
    height: 205px;
    margin-top: 8%;
    margin-left: 18%;
  }
  .portfolio-img-2 {
    width: 305px;
    height: 195px;
  }
  .project-data-stack {
    width: 263%;
  }
}

@media screen and (width: 633px) {
  p {
    width: 230%;
    margin-left: -40%;
  }
  .sub-p {
    margin-left: -64%;
  }
  .font-title {
    font-size: 70px;
  }
  .portfolio-img {
    width: 235px;
    height: 195px;
    margin-top: 14%;
    margin-left: 24%;
  }
  .portfolio-img-2 {
    margin-left: -28%;
    width: 255px;
    height: 195px;
    margin-top: 26%;
  }
  .project-data-stack {
    margin-left: -39%;
    margin-top: -2%;
    width: 300%;
  }
  .project-data-button-container {
    margin-left: -40%;
  }
}

@media screen and (max-width: 600px) {
  .font-title {
    margin-left: 4%;
    font-size: 62px;
  }
  .sub-p {
    margin-left: 8%;
    width: 75%;
  }
  .portfolio-row {
    display: flex;
    flex-direction: column;
    width: 296%;
    margin-left: 25%;
    /* border: tomato 1px solid; */
    margin-top: 21%;
  }
  .h2-left-title-project {
    margin-top: 8px;
  }
  .portfolio-img {
    margin-left: -5%;
    width: 405px;
    margin-top: 2%;
  }
  .portfolio-img-2 {
    margin-left: -5%;
    width: 425px;
    margin-bottom: 134px;
    margin-top: -5%;
  }
  .portfolio-container {
    margin-top: 4px;
    margin-left: 6%;
  }
}

@media screen and (max-width: 500px) {
  .font-title {
    margin-left: 3%;
    font-size: 57px;
  }
  .sub-p {
    margin-left: 4%;
  }
  .portfolio-img-2 {
    margin-left: -9%;
  }
  .portfolio-container {
    margin-left: -3%;
  }
}

@media screen and (width: 414px) {
  .font-title {
    font-size: 45px;
  }
  .portfolio-img {
    margin-left: -7%;
    width: 340px;
    // margin-top: 2%;
  }
  .portfolio-img-2 {
    margin-left: -8%;
    width: 350px;
  }
  .portfolio-container {
    margin-left: -1%;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-img-2 {
    margin-left: -8%;
    width: 342px;
    margin-top: 2%;
  }
  .portfolio-img {
    margin-left: -8%;
    width: 347px;
    margin-top: 2%;
  }
  .font-title {
    font-size: 44px;
  }
  .portfolio-container {
    margin-top: -40px;
    margin-left: -1%;
  }
}

@media screen and (width: 375px) {
  .font-title {
    margin-left: 0%;
  }  
  .portfolio-img {
    margin-left: -8%;
    width: 317px;
  }
  .portfolio-img-2 {
    width: 322px;
  }
  .project-data-container h2 {
    font-size: 35px;
    margin-left: -26%;
  }
  .portfolio-container {
    margin-left: -1%;
  }
}

@media screen and (width: 333px) {
  .font-title {
    font-size: 37px;
  }
  .portfolio-img {
    margin-left: -7%;
    width: 277px;
  }
  .portfolio-img-2 {
    width: 287px;
  }
  .project-data-container h2 {
    font-size: 32px;
  }
  .portfolio-container {
    margin-left: -3%;
  }
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 35px;
  }
  .h2-left-title-project {
    margin-left: -25%;
  }
  .font-title {
    font-size: 37px;
    margin-left: -5%;
  }
  .sub-p {
    margin-left: -7%;
    width: 90%;
  }
  .project-data-container {
    margin-left: -6.5%;
  }
  .portfolio-img {
    margin-left: -10%;
    width: 270px;
  }
  .portfolio-img-2 {
    width: 270px;
    margin-left: -10%;
  }
  .project-data-container h2 {
    font-size: 35px;
  }

}