
@media screen and (max-width: 750px) {
  h2 {
    padding-left: 19%;
  }
  .footer-container {
    margin-left: 7%;
  }
  .footer-input-container h3, p {
    margin-left: 1%;
  }
}

@media screen and (width: 700px) {
  h2 {
    padding-left: 12%;
  }
  .footer-link-imprint {
    margin-left: 83%;
  }
  .footer-input-container h3, p {
    margin-left: -5%;
  }
  .footer-container {
    width: 36em;
    margin-left: 10%;
    height: 1211px;
  }
}

@media screen and (max-width: 650px) {
  h2 {
    padding-left: 12%;
  }
  .footer-input-container h3, p {
    margin-left: -1%;
    scale: 0.8;
  }
  .up-arrow-container {
    margin-left: 77%;
  }
  .footer-link-imprint {
    margin-left: 75%;
  }
  .footer-container {
    width: 35em;
    margin-left: 4%;
    height: 1291px;
  }
}

@media screen and (width: 633px) {
  h3, p {
    margin-left: -15%;
  }
  h3 {
    font-size: 30px;
  }
  .up-arrow-container {
    margin-left: 75%;
  }
  .footer-link-imprint {
    margin-left: 72%;
  }
}

@media screen and (max-width: 600px) {
  .footer-container {
    // width: 36.25em;
    width: 82%;
    height: 1251px;
    margin-left: 10%;
  }
  .footer-link-imprint {
    margin-left: 84%;
  }
  footer {
    width: 510px;
  }
  h2 {
    padding-left: 8%;
  }
  h3 {
    font-size: 30px;
  }
  
}

@media screen and (max-width: 550px) {
  h2 {
    padding-left: 10%;
  }
  .footer-container {
    height: 1341px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    width: 460px;
    margin-left: 3%;
  }
  h2 {
    font-size: 61px;
    padding-left: 16%;
  }
  h3 {
    margin-left: 16%;
    width: 330px;
  }
  p {
    width: 330px;
    margin-left: 16%;
  }
  .footer-input-container h3 {
    margin-left: 16%;
    scale: 0.8;
  }
  .up-arrow-container {
    display: none;
  }
  .footer-link-imprint {
    margin-left: 85%;
  }
  .footer-container {
    height: 1281px;
    width: 92%;
    margin-left: 5%;
  }
}

@media screen and (width: 414px) {
  h2 {
    padding-left: 8% !important;
  }
  h3 {
    margin-left: 12% !important;
  }
  .footer-container {
    height: 1211px;
    width: 100%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    margin-left: -9%;
  }
  h3, p {
    margin-left: 9% !important;
  }
  .footer-container {
    width: 25em;
    height: 1211px;
    margin: auto;
  }
  .footer-link-imprint {
    margin-left: 69%;
  }
  .left-footer-icons p {
    margin-left: 0%;
    margin-top: 5%;
  }
  .left-footer-icons {
    margin-top: 4%;
  }
}

@media screen and (width: 375px) {
  h2 {
    margin-left: -12%;
    padding-top: 86px;
  }
  h3 {
    margin-left: 5%;
  }  
  .footer-container {
    height: 1071px;
    width: 23.7em;
    margin: auto;
  }
  .footer-link-imprint {
    margin-left: 81%;
  }
  .footer-input-container h3 {
    margin-left: 7%;
    
  }
}

@media screen and (width: 333px) {
  h2 {
    font-size: 49px;
    margin-left: -8%;
  }
  h3, p {
    margin-left: 2% !important;
  }
  .footer-container {
    height: 1211px;
    width: 20.9em;
    margin: auto;
  }
  .footer-link-imprint {
    margin-left: 79%;
  }
}

@media screen and (max-width: 320px) {
  .footer-container {
    width: 20em;
    height: 1201px;
    margin: auto;
  }
  h2 {
    padding-left: 18px;
    padding-top: 66px;
  }
  h3 {
    margin-left: 0%;
    width: 316px;
  }
  p {
    margin-left: 2%;
    width: 310px;
  }
  footer {
    width: 440px;
    margin-left: -17%;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 25%;
    align-items: center;
  }
}