/* MEDIA */

@media screen and (width: 8000px) {
  .footer-container {
    width: 1210px;
  }
}

@media screen and (width: 4000px) {
  h2 {
    padding-left: 29%;
  }
  .footer-container {
    height: 1261px;
    scale: 1.6;
    margin-top: 310px;
    width: 60%;
  }
  .footer-link-imprint {
    margin-left: 92%;
  }
  .up-arrow-container {
    margin-left: 92%;
  }
}

@media screen and (width: 3760px) {
  .footer-container {
    width: 69%;
    margin-left: 17%;
  }
}

@media screen and (width: 3706px) {
  .footer-container {
    width: 1340px;
  }
}

@media screen and (max-width: 3106px) {
  .footer-container {
    width: 70%;
  }
}

@media screen and (width: 2688px) {
  .footer-container {
    width: 67%;
    margin-left: 20%;
  }
}

@media screen and (width: 2490px) {
  .footer-container {
    width: 65%;
    margin-left: 18%;
  }
}

@media screen and (width: 1792px) {
  h2 {
    margin-left: -16%;
  }
  .footer-container {
    width: 68%;
    margin-left: 17%;
  }
}

@media screen and (max-width: 1344px) {
  h2 {
    margin-left: 1%;
  }
}

@media screen and (max-width: 1250px) {
  h2 {
    margin-left: -3%;
  }
  .footer-container {
    width: 77%;
    margin-left: 13%;
  }
}

@media screen and (max-width: 1200px) { 
  h2 {
    margin-left: -3%;
  }
  footer {
    width: 810px;
    left: 16%;
  }
  .footer-link-imprint {
    margin-left: 82%;
  }
  .footer-container {
    width: 53em;
    margin-left: 17%;
  }
}

@media screen and (max-width: 1150px) {
  h2 {
    padding-left: 30px;
  }
  .footer-container {
    width: 53em;
    margin-left: 16%;
  }
}

@media screen and (max-width: 1100px) {
  h2 {
    padding-left: 35%;
  }
  .footer-link-imprint {
    margin-left: 82%;
  }
  .footer-container {
    width: 51em;
    margin-left: 16%;
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    padding-left: 32%;
  }
  footer {
    margin-top: 10%;
  }
  .footer-container {
    width: 49em;
    margin-left: 11%;
  }  
}

@media screen and (max-width: 900px) {
  h2 {
    padding-left: 10%;
  }
  .footer-link-imprint {
    margin-left: 83%;
  }
  .footer-input-container h3, p {
    margin-left: 0%;
  }
  .footer-container {
    width: 47em;
    margin-left: 9%;
  }  
}

@media screen and (max-width: 881px) {
  h2 {
    padding-left: 13%;
  }
  h3, p {
    margin-left: -6%;
  }
  .footer-link-imprint {
    margin-left: 76%;
  }
}

@media screen and (max-width: 850px) {
  .footer-container {
    width: 44em;
    margin-left: 11%;
  }
}

@media screen and (max-width: 850px) {
  h2 {
    padding-left: 7%;
  }
  .footer-input-container h3, p {
    margin-left: -1%;
  }  
  .up-arrow-container {
    margin-left: 78%;
  }
  .footer-link-imprint {
    margin-left: 77%;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    padding-left: 5%;
  }
  .footer-container {
    width: 41em;
    margin-left: 11%;
  }
  footer {
    width: 710px;
    margin-top: 12%;
  }
  .footer-link-imprint {
    margin-left: 90%;
  }
  .footer-input-container h3, p {
    margin-left: 0%;
  }
 
}
