<section class="footer-container">
  <div class="footer-input-container">
    <h2 class="fontSyne">{{ 'SAY_HI' | translate }}</h2>
    <h3 class="fontOverpass fontGreen">{{ 'DISCUSS_NEW' | translate }}</h3>
    <p class="fontOverpassNormal">{{ 'DISCUSS_CONTACT' | translate }}</p> 

    <app-contact-form />

  </div>
  <div class="footer-button">
  </div>
  <div class="up-arrow-container">
    <a href="#top">
      <img title="Back to top" class="up-arrow-img" id="up-arrow-img" src="./assets/icons/up-arrow.png" alt="">
    </a>
  </div>
  <app-footer />
  <a (click)="scrollToTop()" class="footer-link-imprint icon-hover" routerLink="imprint" title="Imprint">{{ 'IMPRINT_LINK' | translate }}</a>
</section>
