<section class="footer-container">
  <div class="footer-input-container">
    <h2 class="fontSyne">{{ 'SAY_HI' | translate }}</h2>
    <h3 class="fontOverpass fontGreen">{{ 'DISCUSS_NEW' | translate }}</h3>
    <p class="fontOverpassNormal">{{ 'DISCUSS_CONTACT' | translate }}</p> 

    <app-contact-form />

  </div>
  <div class="footer-button">
  </div>
  <app-footer />
  <a class="footer-link-imprint icon-hover" routerLink="imprint" title="Imprint">{{ 'IMPRINT_LINK' | translate }}</a>
</section>
