body {
  width: 1440px;
  height: 7208px;
  // background-color: #e0b020;
  top: -2038px;
  left: 8941px;
  max-width: 1440rem;

}

.header-static {
  position: fixed;
  top: 0;
  z-index: 7;
  overflow: hidden;
}