<div class="contact-container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="footer-form-container">

      
    <label for="name">{{ 'NAME_FORM' | translate }}</label>
    <input [(ngModel)]="contactData.name" #name="ngModel" class="footer-input" id="name" name="name" type="text" 
    placeholder="{{ 'NAME_PLACEHOLDER' | translate }}" required>
    <span *ngIf="!name.valid && name.touched" class="span-warning">{{ 'NAME_WARN' | translate }}</span>
    <br/>
    
    <label for="email">{{ 'EMAIL_FORM' | translate }}</label>
    <input [(ngModel)]="contactData.email" #email="ngModel" class="footer-input" id="email" name="email" type="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
    <span *ngIf="!email.valid && email.touched" class="span-warning">{{ 'EMAIL_WARN' | translate }}</span>
    <br/>
    <label for="message">{{ 'MESSAGE' | translate }}</label>
    <textarea [(ngModel)]="contactData.message" #message="ngModel" class="footer-text-area" name="message" id="message" cols="30" rows="10" placeholder="{{ 'MESSAGE_PLACEHOLDER' | translate }}" required minlength="5"></textarea>
    <span *ngIf="message && !message.valid && message.touched" class="span-warning">{{ 'MESSAGE_WARN' | translate }}</span>

    <br/>

    <div class="contactform-submit-container">
      <div class="contactform-policy-check">
        <input class="checkbox" type="checkbox" name="accept" id="accept" [(ngModel)]="accept" required>
        <span *ngIf="!accept" class="span-warning">{{ 'ACCEPT_WARN_BTN' | translate }}&nbsp; &nbsp; </span>
        <span class="fontOverpassNormal">{{ 'ACCEPT_PRE' | translate }}<a      id="accept-text" (click)="scrollToTop()"  routerLink="legal">{{ 'ACCEPT_LINK' | translate }}</a></span>
      </div>
      <input class="fontOverpassNormal form-submit-btn" type="submit" value="{{ 'SUBMIT_BTN_TXT' | translate }}&nbsp; " [disabled]="!contactForm.form.valid || !accept" [class.no-hover]="!contactForm.form.valid || !accept">
    </div>
  </form>  
</div>
