/* MEDIA */

@media screen and (width: 4000px) {
  .contactform-policy-check {
    margin-left: 23%;
  }  
  .footer-form-container {
    scale: 1.3;
    padding-top: 3%;
  }
 
}

@media screen and (min-width: 1600px) {
  .footer-form-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (min-width: 1406px) {
  .footer-form-container {
    margin-left: -17%;
  }
}

@media screen and (max-width: 1405px) {
  .footer-form-container {
    margin-left: -19%;
  }
}

@media screen and (max-width: 1344px) {
  .footer-form-container {
    margin-left: -22%;
  }
  .form-submit-btn {
    margin-left: 13%;
  }
}

@media screen and (max-width: 1250px) {
  .footer-form-container {
    margin-left: -21%;
  }
  .form-submit-btn {
    margin-left: 14%;
  }
  .contactform-policy-check {
    width: 100%;
    height: 3.25rem;
    display: flex;
    align-items: center;
    padding-left: 15%;
    color: #fffcf3;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {

  .footer-form-container {
    margin-left: -29%;
  }
  .contactform-policy-check {
    margin-left: 8%;
  }
  .form-submit-btn {
    margin-left: 7%;
  }
}

@media screen and (max-width: 1150px) {
  .footer-form-container {
    margin-left: -30%;
  }
  .form-submit-btn {
    margin-left: 11%;
  }
}

@media screen and (max-width: 1100px) {
  .footer-form-container {
    margin-left: -38%;
  }
}

@media screen and (max-width: 1050px) {
  .footer-form-container {
    margin-left: -33%;
  }
  .contactform-policy-check {
    margin-left: -1%;
  }
}

@media screen and (max-width: 1000px) {
  .footer-form-container {
    width: 38.563rem;
    height: 30.625rem;
    margin-left: -37%;
  }
  .contactform-policy-check {
    margin-left: -2%;
  }
}

@media screen and (max-width: 950px) {
  .footer-form-container {
    margin-left: -39%;
  }
  .contactform-policy-check {
    margin-left: -2%;
  }
}

@media screen and (max-width: 900px) {
  .footer-form-container {
    margin-left: -42%;
  }
  .contactform-policy-check {
    margin-left: -1%;
  }
}

@media screen and (width: 881px) {
  .footer-form-container {
    margin-left: -28%;
  }
}

@media screen and (max-width: 850px) {
  .footer-form-container {
    margin-left: -46%;
  }
  .contactform-policy-check {
    margin-left: -2%;
  }
}

@media screen and (max-width: 800px) {
  .footer-form-container {
    width: 33.563rem;
    margin-left: -41%;
  }
  .contactform-policy-check {
    margin-left: -12%;
    width: 120%;
  }
}

@media screen and (max-width: 750px) {
  .contactform-policy-check {
    margin-left: -33%;
    width: 120%;
    >span {
      margin-right: -15%;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer-form-container {
    margin-left: -45%;
    width: 30rem;
  }
  .contactform-submit-container input {
    margin-left: 1%;
  }
  .contactform-policy-check {
    margin-left: -30%;
    width: 140%;
  }
  .form-submit-btn {
    margin-left: 12% !important;
  }
}

@media screen and (min-width: 603px)and (max-width: 699px) {
  .footer-form-container {
    width: 27.563rem !important;
  }
} 

@media screen and (max-width: 650px) {
  .contactform-policy-check {
    margin-left: -34%;
    width: 140%;
    >span {
      margin-right: -13%;
      width: 45%;
      margin-left: 1%;
    }
  }
  .footer-form-container {
    margin-left: -38%;
    width: 27rem;
  }
}

@media screen and (width: 633px) {
  .footer-form-container {
    margin-left: -31%;
  }
  .contactform-policy-check {
    width: 120%;
    margin-left: 17%;
  }
}

@media screen and (max-width: 600px) {
  .footer-form-container {
    width: 182%;
    margin-left: -40%;
  }
  .form-submit-btn {
    margin-left: -1%;
  }
  .contactform-policy-check {
    margin-left: -34%;
    width: 150%;
  }
  .contactform-policy-check span {
    margin-right: -12%;
  }

  
}

@media screen and (max-width: 550px) {
  .form-submit-btn {
    margin-left: 13%;
  }
  .contactform-policy-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 160%;
    height: 100%;
    margin-left: -31%;
    >span {
      margin-right: 1%;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-form-container {
    margin-left: -39%;
  }
  .contactform-policy-check span {
    width: 52%;
    text-align: center;
    margin-right: 1%;
  }
  .contactform-policy-check {
    margin-left: -22%;
    width: 140%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    height: auto;
  }
  .form-submit-btn {
    margin-left: 17%;
  }

  
}

@media screen and (max-width: 475px) {
  .contactform-policy-check span {
    margin-left: -10%;
  }
}

@media screen and (width: 414px) {
 
  .footer-form-container {
    margin-left: -39%;
  }
  .form-submit-btn {
    margin-left: 9%;
  }
  .contactform-policy-check span {
    margin-right: 2%;
  }
}

@media screen and (max-width: 400px) {
    .contact-container {
      width: 41%;
      margin-left: 24%;
    }
    .form-submit-btn {
      margin-left: 12%;
    }
    .footer-form-container {
      margin-left: -27%;
    }
    .contactform-policy-check span {
      margin-right: 2%;
    }
}

@media screen and (width: 375px) {
  .contact-container {
    .footer-form-container {
      width: 158%;
      margin-left: -14%;
    }
  }
  .contactform-policy-check span {
    margin-right: -1%;
  }
}

@media screen and (width: 333px) {
  .footer-form-container {
    width: 151%;
    margin-left: -12%;
  }
  .contactform-policy-check {
    width: 150%;
  }
  .contactform-policy-check span {
    margin-right: -13%;
  }
}

@media screen and (max-width: 320px) {
  .contact-container {
    width: 40%;
    margin-left: 22%;
  }
  .footer-form-container {
    width: 16rem;
  }
  .form-submit-btn {
    margin-left: 12%;
    margin-top: 5%;
  }
  .contactform-policy-check span {
    margin-right: -10%;
  }
}