/* MEDIA */

@media screen and (width: 4000px) {
  .contactform-policy-check {
    margin-left: 23%;
  }  
  .footer-form-container {
    scale: 1.3;
    padding-top: 3%;
  }
 
}

@media screen and (max-width: 1200px) {
  .footer-form-container {
    margin-left: -8%;
  }
  .contactform-policy-check {
    margin-left: 8%;
  }
}

@media screen and (max-width: 1000px) {
  .footer-form-container {
    width: 38.563rem;
    height: 30.625rem;
    margin-left: -20%;
  }
  .contactform-policy-check {
    margin-left: 26%;
  }
}

@media screen and (width: 881px) {
  .footer-form-container {
    margin-left: -28%;
  }
}

@media screen and (max-width: 800px) {
  .footer-form-container {
    width: 33.563rem;
    margin-left: -25%;
  }
}

@media screen and (min-width: 603px)and (max-width: 699px) {
  .footer-form-container {
    width: 27.563rem !important;
  }
} 

@media screen and (width: 633px) {
  .footer-form-container {
    margin-left: -31%;
  }
  .contactform-policy-check {
    width: 120%;
    margin-left: 17%;
  }
}

@media screen and (max-width: 600px) {
  .footer-form-container {
    width: 182%;
    margin-left: -40%;
  }
  .form-submit-btn {
    margin-left: -1%;
  }
  .contactform-policy-check {
    margin-left: 14%;
  }

  
}

@media screen and (max-width: 500px) {
  .footer-form-container {
    margin-left: -48%;
  }
  .contactform-policy-check span {
    width: 45%;
  }
  
}

@media screen and (width: 414px) {
 
  .footer-form-container {
    margin-left: -39%;
  }
  .form-submit-btn {
    margin-left: 9%;
  }
}

@media screen and (max-width: 400px) {
    .contact-container {
      width: 41%;
      margin-left: 24%;
    }
    .form-submit-btn {
      margin-left: 12%;
    }
}

@media screen and (width: 375px) {
  .contact-container {
    .footer-form-container {
      width: 158%;
      margin-left: -42%;
    }
  }
}

@media screen and (width: 333px) {
  .footer-form-container {
    width: 151%;
    margin-left: -51%;
  }
}

@media screen and (max-width: 320px) {
  .contact-container {
    width: 40%;
    margin-left: 22%;
  }
  .footer-form-container {
    width: 18.563rem;
  }
  .form-submit-btn {
    margin-left: 12%;
    margin-top: 5%;
  }
}