<app-header />
<section class="">
  <div class="atf-text">
    <h1 class="fontSyne first-line">Frontend</h1>
    <h1 class="fontSyne second-line">Developer</h1>
  </div>
  <div class="sep-line">
    <div class="vector-line"></div>
    <p class="atf-name">Johannes Käppler</p>
  </div>
</section>
<div class="down-arrow">
  <img src="../../assets/icons/down-arrow.png" alt="">
  <p>Scroll Down</p>
</div>
<div class="atf-email">
  <a href="mailto:kontakt@johanneskaeppler.com">contact via email</a>
</div>
<app-about-me />
<app-arrow-left />
<app-my-skills />
<app-arrow-right />
<app-my-portfolio />
<app-my-references />
<app-arrow-left-2 />
<app-footer-content />