@media screen and (width: 4000px) {
  .sep-line {
    margin-left: 38%;
    scale: 1.4;
    margin-top: 2%;
  }
  .atf-email {
    margin-top: -6%;
    scale: 1.8;
    margin-left: 14%;
  }
  .down-arrow {
    margin-top: -27%;
    scale: 1.6;
  }
  .atf-text {
    scale: 1.6;
    margin-top: 721px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1285px) {
  .first-line, .second-line {
    width: 108%;
    margin-left: 1%;
    font-size: 118px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    width: 90%;
  }
  .fontSyne {
    font-size: 96px;
    line-height: 96px;
  }
  .first-line, .second-line {
    width: 90%;
  }
  .sep-line {
    margin-left: 52%;
  }
  .vector-line {
    width: 0;
  }
  .down-arrow {
    left: 85%;
  }
  .atf-email {
    margin-top: -15%;
    margin-left: -2%;
  }
  .atf-name {
    // display: flex;
    margin-left: -7%;
  }
 
}

@media screen and (max-width: 1000px) {
  .second-line {
    margin-left: -9%;
  }
  .sep-line {
    margin-left: 0%;
    margin-top: -6%;
  }
  .vector-line {
    width: 428px;
    margin-right: 86px;
  }
  .down-arrow {
    margin-top: -51%;
  }
  .atf-email {
    margin-top: -19%;
    margin-left: -10%;
  }
}

@media screen and (min-width: 801px) and (max-width: 878px) {
  .first-line, .second-line {
    width: 108%;
    margin-left: 1%;
    font-size: 88px;
  }
}

@media screen and (max-width: 800px) {
  section {
    width: 80%;
    top: 150px;
  }
  .first-line, .second-line {
    width: unset;
    height: 87%;
  }
  .second-line {
    margin-left: -1%;
  }
  .fontSyne {
    font-size: 72px;
    line-height: 72px;
  }
  .atf-name {
    font-size: 36px;
    margin-left: -2%;
    // width: 90%;
    width: 47%; // div - over length..?
  }
  .sep-line {
    top: 180px;
    margin-left: -1%;
    width: 121%;
    margin-top: 1%;
  }
  .vector-line {
    width: 40%;
    margin-right: 4%;
  }
  .down-arrow {
    margin-top: -47%;
    top: 500px;
    left: 70%;
    width: 80px;
    height: 160px;
    > img {
      width: 80px;
      height: 120px;
    }
    > p {
      width: 40px;
      height: 30px;
      font-size: 18px;
    }
  }
  .atf-email {
    margin-top: -23%;
    margin-left: -14%;
  }
  
}

@media screen and (max-width: 600px) {
  section {
    width: 70%;
    top: 120px;
  }
  .fontSyne {
    font-size: 54px;
    line-height: 56px;
    margin-left: 1%;
  }
  .atf-name {
    font-size: 28px;
    width: 62%;
  }
  .sep-line {
    width: 112%;
    margin-left: -8%;
    margin-top: 1%;
  }
  .vector-line {
    // width: 43%;
    width: 56%; // due to o ver lenbgth..?;
    margin-right: 13px;
  }
  .down-arrow {
    margin-top: -59%;
    width: 60px;
    height: 120px;
    > img {
      width: 60px;
      height: 90px;
    }
    > p {
      width: 30px;
      height: 22px;
      font-size: 16px;
    }
  }
  .atf-email {
    margin-top: -29%;
    margin-left: -17%;
  }
}

@media screen and (max-width: 500px) {
  .atf-text h1{
    font-size: 50px;
  }
  .sep-line {
    margin-left: -16%;
    width: 162%;
  }
  .down-arrow {
    margin-top: -71%;
  }
  .atf-email {
    margin-top: -35%;
    margin-left: -26%;
  }
  .atf-name {
    width: 92%;
  }
}

@media screen and (width: 414px) {
  .atf-text h1{
    font-size: 41px;
  }
  .sep-line {
    margin-left: -16%;
    width: 133%;
  }
  .down-arrow {
    margin-top: -85%;
  }
  .atf-email {
    margin-top: -41%;
  }
  // .atf-name {
  //   width: 92%;
  // }
}

@media screen and (max-width: 400px) {
  section {
    width: 60%;
    top: 100px;
  }
  .fontSyne {
    font-size: 40px;
    line-height: 40px;
  }
  .atf-name {
    font-size: 24px;
  }
  .sep-line {
    margin-top: 5%;
    margin-left: -25%;
  }
  .vector-line {
    width: 60%;
  }
  .down-arrow {
    margin-top: -80%;
    width: 40px;
    height: 80px;
    align-items: baseline;
    margin-left: 86%;
    > img {
      width: 40px;
      height: 60px;
    }
    > p {
      width: 20px;
      height: 16px;
      font-size: 14px;
    }
  }
  .atf-email {
    margin-top: -40%;
    margin-left: -32%;
  }
  .atf-text {
    margin-left: 3%;
    >h1 {
      font-size: 41px;
    }
  }
  
}

@media screen and (width: 375px) {
  p {
    font-size: 21px;
    margin-left: 5%;
  }
  .atf-text h1 {
    font-size: 36px;
  }  
  .down-arrow {
    margin-top: -86%;
  }
  .atf-email {
    margin-top: -42%;
    margin-left: -34%;
  }

}

@media screen and (max-width: 320px) {
  section {
    width: 90%;
    top: 80px;
  }
  .fontSyne {
    font-size: 32px !important;
    line-height: unset;
  }
  .atf-name {
    font-size: 20px;
  }
  .atf-text {
    margin-left: 4%;
    font-size: 41px !important;
  }
  .sep-line {
    margin-left: 2%;
  }
  .vector-line {
    width: 20%;
  }
  .down-arrow {
    margin-top: -115%;
    margin-left: 85%;
    width: 30px;
    height: 60px;
    > img {
      width: 30px;
      height: 45px;
    }
    > p {
      width: 15px;
      height: 12px;
      font-size: 12px;
    }
  }
  .atf-email {
    margin-top: -49%;
    margin-left: -40%;
  }
}