<div id="top" class=""></div>
<app-header  class="header-static" />

<section id="atf"  class="">
  <div class="atf-text">
    <h1 class="fontSyne first-line">{{ 'FRONTEND' | translate }}</h1>
    <h1 class="fontSyne second-line">{{ 'DEVELOPER' | translate }}</h1>
  </div>
  <div class="sep-line">
    <div class="vector-line"></div>
    <p class="atf-name">Johannes Käppler</p>
  </div>
</section>
<div class="down-arrow">
  <img src="./assets/icons/down-arrow.png" alt="">
  <p>{{ 'SCROLL' | translate }} {{ 'DOWN' | translate }}</p>
</div>
<div class="atf-email">
  <a href="mailto:kontakt@johanneskaeppler.com">{{ 'CONTACT_VIA_EMAIL' | translate }}</a>
</div>
<app-about-me id="aboutme"/>
<app-arrow-left />
<app-my-skills />
<app-arrow-right />
<app-portfolio />
<app-arrow-left-2 />
<app-footer-content id="contact"/>