<div id="myskills"></div>
<br>
<br>
<br>
<main>
    <h2 class="" >{{ "MY_SKILLS_TITLE" | translate }}</h2>
    <div  
        class="main-container" >
        <div id="{{ skill.path }}" class="skill" *ngFor="let skill of skills">
            <div class="noselect">
                <img src="./assets/icons/it-skills/{{ skill.path }}.svg" alt="{{ skill.name }}">
            </div>
            <h6>{{ skill.name }}</h6>
        </div>
        <div class="skills-extra-contact">
            <img title="What do You need?" src="./assets/icons/new-learning.png" alt="">
            <p>{{ 'WHAT_DO_YOU_NEED' | translate }}  &nbsp;</p> 
            <a href='mailto:kontakt@johanneskaeppler.com' class="fontGreen" title="write me an email!">{{ 'CONTACT_ME' | translate }}</a>
            <p>&nbsp; {{ 'READY_LEARN' | translate }}</p>
          </div>
    </div>
</main>

<!--
<main>
    <h2 [ngClass]="{'my-skills-de': lang === 'de'}">{{ "my-skills" | translate }}</h2>
    <div>
        <div (click)="skillAni(skill.path)" id="{{ skill.path }}" class="skill" *ngFor="let skill of skills">
            <div class="noselect">
                <img src="../../../assets/img/icons/{{ skill.path }}.svg" alt="{{ skill.name }}">
            </div>
            <h6>{{ skill.name }}</h6>
        </div>
    </div>
</main>
-->