/* MEDIA */

@media screen and (width: 8000px) {
  .my-skills-txt {
    margin-left: 16%;
    margin-top: -1%;
  }
}

@media screen and (width: 4000px) {
  .my-skills-table {
    left: -72px;
  }
  .my-skills-txt {
    margin-left: 30%;
    scale: 1.4;
  }
  .skills-extra-contact {
    left: 15%;
  }
  .my-skills-container {
    width: 45%;
  }
  #myskills {
    scale: 1.5;
  }
}

@media screen and (width: 3706px) {
  .my-skills-txt {
    margin-left: 30%;
  }
}

@media screen and (max-width: 3106px) {
  .my-skills-txt {
    margin-left: 18%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1786px) {
  .my-skills-table {
    left: -60px;
  }
}

@media screen and (max-width: 1200px) {
  .my-skills-container {
    width: 1114px;
    left: 0%;
  }
  .my-skills-img {
    left: 27%;
  }
  .skills-row-1,.skills-row-2,.skills-row-3 {
    width: 912px;
    gap: 118px;
  }
  .my-skills-txt {
    left: 13%;
  } 
  
}

@media screen and (max-width: 1100px) {
  .my-skills-container {
    width: 1001px;
  }
}

@media screen and (max-width: 1000px) {
  .my-skills-container {
    width: 964px;
  }  
  .my-skills-txt {
    left: 5%;
    margin-top: -7%;
  }
  .my-skills-table {
    left: 26px;
  }
}

@media screen and (width: 900px) {
  .my-skills-txt {
    font-size: 68px;
  }
  .my-skills-container {
    width: 874px;
  }
  .my-skills-table {
    left: -14px;
  }
  .skills-extra-contact {
    left: 15%;
  }
}

@media screen and (width: 881px) {
  .my-skills-txt {
    margin-left: 2%;
  }
  .my-skills-container {
    width: 854px;
  }
  .my-skills-table {
    left: -23px;
  }
  .skills-extra-contact {
    left: 15%;
  }
  
}

@media screen and (max-width: 800px) {
  .my-skills-txt {
    left: 18%;
    font-size: -webkit-xxx-large;
    top: 286%;
  }
  .my-skills-container {
    width: 734px;
    margin-top: 30px;
  }
  .skills-row-1,.skills-row-2,.skills-row-3 {
    width: 514px;
    gap: 48px;
  }
  .skills-extra-contact {
    left: 10%;
  }
  .my-skills-table {
    left: 107px;
    margin-top: 15px;
  }

}

@media screen and (width: 700px) {
  .my-skills-container {
    width: 674px;
  }
  .my-skills-table {
    left: 95px;
    margin-top: -23px;
  }
  .skills-extra-contact {
    left: 6%;
  }
  
}

@media screen and (width: 633px) {
  .my-skills-container {
    width: 604px;
  }
  .my-skills-table {
    left: 52px;
    margin-top: -26px;
  }
  .skills-extra-contact img {
    padding-bottom: 2%;
  }
  .skills-extra-contact {
    flex-direction: column;
    top: 591px;
    left: 6%;
  }
}

@media screen and (max-width: 600px) {
  .my-skills-txt {
    left: 2%;
    top: 294%;
    font-size: 43px;
  }
  .skills-row-1 {
    width: 326px;
    gap: 27px;
  }
  .skills-row-2 {
    width: 330px;
    gap: 35px;
  }
  .skills-row-3 {
    display: flex;
    gap: 38px;
    margin-left: -18%;
  }
  .my-skills-container {
    width: 92%;
    height: 755px;
  }
  .skills-extra-contact {
    display: flex;
    flex-direction: column;
    // left: -19%;
    left: 3%;
    top: 73%;
    gap: 8px;
  }
  .my-skills-table {
    top: 68px;
    left: 113px;
  }
}

@media screen and (max-width: 500px) {
  .my-skills-txt {
    left: -7%;
    margin-left: 0%;
    top: 279%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .my-skills-container {
    width: 457px;
    height: 829px;
  }
  .skills-row-1 img, .skills-row-2 img, .skills-row-3 img {
    width: 27%;
    height: auto;
  }
  .skills-row-1, .skills-row-2, .skills-row-3 {
    flex-direction: column;
  }
  .skills-row-1 {
    margin-left: -15%;
    margin-top: 43%;

  }
  .skills-row-2 {
    margin-left: 23%;
    margin-top: -28%;
  }
  .skills-row-3 {
    margin-left: 63%;
    margin-top: -82%;
    width: 331px;
    gap: 9px;
  }
  .skills-extra-contact {
    left: 5%;
    top: 79%;
  }
}

@media screen and (width: 414px) {
  .my-skills-container {
    width: 397px;
  }
  .my-skills-table {
    top: 51px;
    left: 79px;
  }
  .skills-row-1 img,.skills-row-2 img,.skills-row-3 img {
    width: 23%;
  }
  .my-skills-txt {
    margin-left: 0%;
  }
}

@media screen and (max-width: 400px) {
  .my-skills-txt {
    left: -1%;
    top: 275%;
    margin-left: 2%;
  }
  .my-skills-container {
    margin-left: 1%;
    width: 96%;
  }
  .my-skills-table {
    top: 37px;
    left: 72px;
  }
  
}

@media screen and (width: 375px) {
  .my-skills-txt {
    top: 317%;
    margin-left: 1%;
  }
  .skills-row-1 {
    margin-left: -16%;
    margin-top: 40%;
  }
  .skills-row-2 {
    margin-left: 20.5%;
  }
  .skills-row-3 {
    margin-left: 55%;
    margin-top: -81%;
  }
  .skills-row-1 img, .skills-row-2 img, .skills-row-3 img {
    width: 21%;
  }
}

@media screen and (width: 333px) {
  .skills-row-1 img, .skills-row-2 img, .skills-row-3 img {
    width: 20%;
  }
  .skills-row-1 {
    margin-left: -13%;
    margin-top: 31%;
  }
  .skills-row-2 {
    margin-left: 19%;
    margin-top: -31%;
  }
  .skills-row-3 {
    margin-left: 49%;
  }
  .skills-extra-contact {
    top: 73%;
  }
  .my-skills-container {
    height: 711px;
  }
}

@media screen and (max-width: 320px) {
  .my-skills-txt {
    left: 0%;
    top: 254%;
    width: 250px;
    margin-left: 7%;
  }
  .my-skills-container {
    margin-left: 3%;
    width: 295px;
    height: 869px;
  }
  .skills-extra-contact {
    left: 6%;
    top: 79%;
  }
  .skills-row-1 {
    margin-left: -19%;
    margin-top: 42%;
  }
  .skills-row-2 {
    margin-left: 11%;
    margin-top: -18%;
  }
  .skills-row-3 {
    margin-left: 39%;
    margin-top: -90%;
  }
  .skills-row-1 img, .skills-row-2 img, .skills-row-3 img {
    width: 22%;
  }
}