.my-skills-container {
  position: relative;
  border: black 4px solid;
  // width: 1240px;
  width: 62%;
  height: 763px;
  // position: absolute;
  // top: 1939px;
  // left: 18%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.my-skills-title {
  text-align: center;
  // position: absolute;
  // z-index: 44;
  // top: 2019px;
  // left: 27%;
  color: #000000;
  font-weight: 800;
  background-color: #fffcf3;
  // gap: 10rem;
}

.my-skills-txt {
  margin-left: 9%;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: -3%;
  // width: 870px;
  // width: 98%;
  height: 98px;
  padding: 10px;
  // gap: 10px;
}

.my-skills-table {
  display: flex;
  flex-direction: column;
  gap: 78px;
  // width: 1012px;
  height: 271px;
  position: absolute;
  top: 120px;
  left: 114px;
}

.skills-row-1, .skills-row-2, .skills-row-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  gap: 128px;
  >img {
    &:hover {
      animation: all 0.75s ease-in-out;
      transform: scale(1.1);
      box-shadow: 5px 5px 15px 0px #00000026;
    }
  }

}

.skills-row-1 {
  width: 1012px;
  height: 89px;
  
}

.skills-row-2 {
  width: 1012px;
  height: 89px;
}

.skills-row-3 {
  width: 1012px;
  height: 89px;
  gap: 127px;
  display: flex;
  // margin-left: 18%;
}

.skills-extra-contact {
  display: flex;
  align-items: center;
  // width: 787px;
  width: 91%;
  height: 75px;
  position: absolute;
  top: 629px;
  left: 21%;
  >a:hover {
    font-weight: 500;
  }
  >img {
    width: 100px;
    height: 75px;
    gap: 10px;
    &:hover {
      scale: 1.1;
    }
  }
}