/* MEDIA */

@media screen and (width: 8000px) {
  .my-skills-txt {
    margin-left: 16%;
    margin-top: -1%;
  }
}

@media screen and (width: 4000px) {
  .my-skills-table {
    left: -72px;
  }
  .my-skills-txt {
    margin-left: 30%;
    scale: 1.4;
  }
  .skills-extra-contact {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 28%;
  }
  .my-skills-container {
    width: 45%;
  }
  #myskills {
    scale: 1.5;
  }
}

@media screen and (width: 3760px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (width: 3706px) {
  .my-skills-txt {
    margin-left: 30%;
  }
}

@media screen and (max-width: 3106px) {
  .my-skills-txt {
    margin-left: 18%;
  }
}

@media screen and (width: 2688px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (width: 2490px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (width: 1868px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1786px) {
  .my-skills-table {
    left: -16%;
  }
}

@media screen and (width: 1792px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .my-skills-container {
    width: 70%;
    margin-left: 16%;
  }
  .my-skills-table {
    left: 109px;
  }
  .skills-extra-contact {
    justify-content: center;
    text-align: center;
    margin: auto;
    left: 2%;
  }
}

@media screen and (width: 1405px) {
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 1344px) {
  main {
    margin-top: 30%;
  }
  .my-skills-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 1250px) {
  .my-skills-txt {
    margin: auto;
    display: flow;
    text-align: center;
    align-content: center;
  }
  .my-skills-container {
    width: 74%;
    margin-left: 14%;
  }
  .skills-extra-contact {
    left: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
  }
}

@media screen and (max-width: 1200px) {
  main {
    margin-top: -3%;
  }
  .my-skills-container {
    width: 865px;
    left: 2.5%;
  }
  .my-skills-img {
    left: 27%;
  }
  .skills-row-1,.skills-row-2,.skills-row-3 {
    width: 912px;
    gap: 118px;
  }
  .my-skills-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
  } 
  .my-skills-table {
    left: -30px;
    top: 80px;
  }
  .skills-extra-contact {
    left: 4%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }
  
}

@media screen and (max-width: 1150px) {
  main {
    margin-top: 0%;
  }
  .my-skills-container {
    width: 824px;
    left: 3%;
  }
  .my-skills-table {
    top: 91px;
    left: -39px;
  }
  .my-skills-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 7%;
    margin-right: auto;
  }
  .skills-extra-contact {
    flex-direction: column;
    gap: 8px;
    left: 6%;
    top: 75%;
  }
}