body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}



.container {
  text-align: center;
  // background-color: #fffcf3;
  margin-top: 56px;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // margin-bottom: -35%;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.imprint {
  margin-bottom: 20px;
}

.imprint h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.imprint p {
  font-size: 1em;
  line-height: 1.5;
}

.links {
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1em;
  &:hover {
    color: green;
    text-decoration: underline;
  }
}

.footer-links {
  cursor: pointer; 
  text-decoration: none; 
  color: black;
}

/* MEDIA */

@media screen and (width: 4000px) {
  .container {
    font-size: xx-large;
    margin-top: 521px;
    scale: 1.3;
  }  
}

@media screen and (max-width: 1200px) {
  .container {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-bottom: 25%;
  }
}

@media screen and (width: 375px) {
}

@media screen and (width: 333px) {
  .footer-txt footer {
    margin-left: 3% !important;
    width: 94% !important;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-bottom: 160px;
    margin-top: 120px;
  }
}