/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Syne';
  src: local('Syne'),
    url('./assets/fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: local('Overpass'),
    url('./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Syne', sans-serif;
  background-color: #fffcf3;
  margin: 0;
  padding: 0;
  // max-width: 1440px;
  // width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

body.overlay-active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, h2, p, h3 {
  margin: 0;
  padding: 0;
}

.txt-hover-green {
  color: #00bc8f;
}

.fontSyne {
  font-family: 'Syne';
  font-size: 78px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.1em;
  text-align: center;
  &:hover {
    color: #00bc8f;
  }
}

.fontOverpassNormal {
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.fontOverpass {
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.fontGreen {
  color: #00bc8f;
}

.id-jumping-distance {
  padding-top: 150px;
}

.footer-imprint {
  background-color: black;
  // width: 140em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.display-content {
  display: contents;
}

/* MEDIA */

@media screen and (width: 4000px) {
  .footer-imprint {
    scale: 1.5;
    padding-bottom: 166px;
  }
  
}

@media screen and (width: 375px) {
  .footer-imprint {
    padding-left: 12%;
  }
  
}