/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Syne';
  src: local('Syne'),
    url('./assets/fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: local('Overpass'),
    url('./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

body {
  background-color: #fffcf3;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, p, h3 {
  margin: 0;
  padding: 0;
}

.fontSyne {
  font-family: 'Syne';
  font-size: 78px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.1em;
  text-align: center;
}

.fontOverpassNormal {
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.fontOverpass {
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.fontGreen {
  color: #00bc8f;
}