/* You can add global styles to this file, and also import other style files */

$black: #000;
// $orange: #F90;
$orange: #00bc8f;
$cream: #FFFCF3;
$red: #E61C40;
// $green: #70E61C;
$green: #00bc8f;
$white: #fff;
$blue: #007AFF;
$yellow: #FFEC00;

@font-face {
  font-family: 'Syne';
  src: local('Syne'),
    url('./assets/fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: local('Overpass'),
    url('./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Syne', sans-serif;
  background-color: #fffcf3;
  margin: 0;
  padding: 0;
  // max-width: 1440px;
  // width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

body.overlay-active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  >visited {
    color: black !important;
  }
}

h1, h2, p, h3 {
  margin: 0;
  padding: 0;
}

.txt-hover-green {
  color: #00bc8f;
}

.fontSyne {
  font-family: 'Syne';
  font-size: 78px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.1em;
  text-align: center;
  &:hover {
    color: #00bc8f;
  }
}

.fontOverpassNormal {
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.fontOverpass {
  font-family: 'Overpass';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.fontGreen {
  color: #00bc8f;
}

.id-jumping-distance {
  padding-top: 150px;
}

.footer-imprint {
  background-color: black;
  // width: 140em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
}

.display-content {
  display: contents;
}

.txt-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  /* vertical scrollbar */
  height: 12px;
  /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: #c8e9c3e3;
}

*::-webkit-scrollbar-thumb {
  // background: #88e782;
  background: #39b731;
  border-radius: 40%;
}

/* MEDIA */

@media screen and (width: 8000px) {
  .footer-imprint {
    width: 120em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (width: 3760px) {
  .footer-imprint {
    width: 40%;
  }
}

@media screen and (width: 2506px) {
  .footer-imprint {
    width: 60%;
  }
}

@media screen and (min-width: 376px) and (max-width: 750px) {
  .footer-imprint {
    width: 100%;
  }
}

@media screen and (width: 375px) {
  .footer-imprint {
    padding-left: 12%;
    width: 100%;
  }
}

@media screen and (min-width: 334px) and (max-width: 374px) {
  .footer-imprint {
    width: 100%;
  }
}

@media screen and (max-width: 333px) {
  .footer-imprint {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer-imprint {
    background-color: black;
    position: fixed;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    width: 100%;
    margin: auto;
    height: 12%;
    align-items: end;
    display: flex;
  }
  
}