<footer class="paper-class footer-txt">
  <div class="left-footer-icons">
    
    <img class="header-img" src="./assets/icons/jk_logo.png" alt="">
    
    <p>&#169; &nbsp; Johannes Käppler 2024</p>
  </div>
  <div class="right-footer-icons">
    <a href="https://github.com/Johnni5/" target="_blank" title="GitHub">
      <img class="icon-hover" src="./assets/icons/footer/github-button.png" alt="">
    </a>
    <a href="mailto:kontakt@johanneskaeppler.com" title="eMail me!">
      <img class="icon-hover" src="./assets/icons/footer/email-button.png" alt="">
    </a>
    <a href="http://www.linkedin.com/in/johkaeppler" target="_blank" title="LinkedIn">
      <img class="icon-hover" src="./assets/icons/footer/linkedin-button.png" alt="">
    </a>
  </div>
</footer>