.i1con-hover {
  &:hover {
    animation: all 0.75s ease-in-out;
    transform: scale(1.1);
  }
}

.left-footer-icons {
  color: white;
  
}

.right-footer-icons {
  display: flex;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  // gap: 58%;
  gap: 23%;
  // width: 1240px;
  height: 69px;
  // position: absolute; 
  // top: 1223px;
  // left: 18%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%
}

.left-footer-icons img {
  width: 76px;
  height: auto;
  margin-top: 8%;
}

/* MEDIA */

@media screen and (width: 8000px) {
  .paper-class {
    width: 120em;
  }
  footer {
    left: unset;
    right: unset;
  }
}

@media screen and (width: 4000px) {
  .paper-class {
    gap: 15%;
    justify-content: space-evenly;
    margin-top: 11%;
  }
  .left-footer-icons img, .right-footer-icons img {
    scale: 1.4;
    padding-right: 26px;
  }
}

@media screen and (width: 3706px) {
  footer {
    gap: 0%;
    justify-content: space-evenly;
  }
}

@media screen and (width: 881px) {
  footer {
    gap: 2%;
    margin-left: -8%;
  }
}

@media screen and (max-width: 850px) {
  footer {
    gap: 10%;
    margin-left: -10%;
  }
}

@media screen and (max-width: 650px) {
  footer {
    gap: 5%;
    margin-left: -13%;
  }
}

@media screen and (width: 633px) {
  footer {
    gap: 9%;
    margin-left: -13%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 10%;
    gap: 28%;
  }
}

@media screen and (max-width: 400px) {
  footer {
    margin-top: 10%;
    gap: 0%;
    margin-left: 0.5%;
    width: 84%;
  }
}

@media screen and (width: 375px) {
  footer {
    margin-top: 12%;
    margin-left: -2%;
  }  
  
  
}

@media screen and (width: 333px) {
  footer {
    margin-left: 1.4%;
    width: 66%;
  }
  // .paper-class {
  //   margin-left: 3%;
  //   width: 94%;
  // }

}

@media screen and (max-width: 320px) {
  footer {
    margin-top: 41%;
    margin-left: 7%;
  }
}