<main [class.backwards]="index % 2 == 1">
    <!-- <div  *ngFor="let project of projectlist; let index = index"> -->
        <span>{{ project.number }}/06</span>
        <div class="thumbnail noselect">
            <div class="hover-frame">
                <img src="../../../../assets/arrows/icon/arrow-icon.svg">
            </div>
            <img class="project-img" src="./assets/icons/projects/{{ project.path }}.webp" alt="{{ project.name }}">
        </div>
        <div class="reverse" [ngStyle]="{'align-items': index % 2 == 0 ? 'flex-end' : 'flex-start'}">
            <span>{{ project.number }}/06</span>
            <div class="description">
                <div>
                    <h3>{{ project.name }}</h3>
                    <span>{{ project.tools }}</span>
                    <p>{{ project.path | translate }}</p>
                </div>
                <div class="noselect">
                    <a href="{{ project.link }}" target="_blank" ref="noopener noreferrer"><button>Live</button></a>
                    <a href="{{ project.github }}" target="_blank" ref="noopener noreferrer"><button>GitHub</button></a>
                </div>
            </div>
        </div>
   
</main>