<section class="ol-main-section" *ngIf="overlayVisible">

  <div class="ol-link-container" >
    <div class="ol-link-row">
      <a class="fontSyne" href="#aboutme" (click)="resetOlBtn()">{{ 'ABOUTME_OL_LINK' | translate }}</a>
      <div class="ol-start-angle"></div>
    </div>
    <div class="ol-link-row">
      <a class="fontSyne" href="#myskills" (click)="resetOlBtn()">{{ 'MYSKILLS_OL_LINK' | translate }}</a>
      <div class="ol-start-angle"></div>
    </div>
    <div class="ol-link-row">
      <a class="fontSyne" href="#portfolio" (click)="resetOlBtn()">{{ 'PORTFOLIO_OL_LINK' | translate }}</a>
      <div class="ol-start-angle"></div>
    </div>
  </div>
</section>
